In [ ]:
import psycopg2
import pandas as pd

In [ ]:
def formatForRedshift(row):
    """
    replace None with 'null' and add dollar quotes wherever necessary
    """
    # shallow copy row to data so the data origin isn't modified
    data = copy.copy(row)
    for field in data.index:
        if (data[field] is None) or (data[field] =='nan'):
            data[field] = 'null'
        else:
            data[field] = f'${field}${data[field]}${field}$'
    return data

In [ ]:
conn = psycopg2.connect(f"""
        host=127.0.0.1 
        dbname=scratchdb 
        user=student
        password=student
        port=5432
    """)
cur = conn.cursor()

cur.execute('SELECT * FROM staging_songs;')
conn.commit()
data=cur.fetchall()
#returns list of tuples
#convert list of tuples to pandas dataframe
df = pd.DataFrame(data, columns=[
        'num_songs', 'artist_id', 'artist_latitude', 'artist_longitude',
        'artist_location', 'artist_name', 'song_id', 'title', 'duration', 'year'
    ]
)
print(df)
conn.close()

In [ ]:
conn = psycopg2.connect(f"""
        host=127.0.0.1 
        dbname=scratchdb 
        user=student
        password=student
        port=5432
    """)
cur = conn.cursor()

cur.execute('SELECT * FROM staging_events;')
conn.commit()
data=cur.fetchall()
#returns list of tuples
#convert list of tuples to pandas dataframe
C
#print(df)
conn.close()
for index, row in df.iterrows():
    print(formatForRedshift(row))

In [ ]:
import datetime
print(datetime.datetime.now())

In [ ]:
from string import Template
import sql_queries
import pandas as pd

rows = [('ARE6D0Y119B8667D9F', 'Alejandro Santiago', '', None, None)]
rows_df = pd.DataFrame(
        rows,
        columns=[
            'artist_id', 'artist_name', 'artist_location','artist_latitude', 'artist_longitude'
        ]
    )

for index, row in rows_df.iterrows():
    for col in row.index:
        if row[col] is None:
            row[col] = 'null'
        else:
            row[col] = f'${col}${row[col]}${col}$'
    insert_artists_t = Template(sql_queries.artist_table_insert_b)
    insert_artists = insert_artists_t.substitute(
        artist_id=row['artist_id'],
        name=row['artist_name'],
        location=row['artist_location'],
        latitude=row['artist_latitude'],
        longitude=row['artist_longitude']
    )
    
    print(insert_artists)

In [ ]:
# substitute Nones for nulls
# substitute values with $$tag$$value$$tag$$
# do it with a regex or something else?
# query text is unpredictable after the substitution of the desired values



def formatForRedshift(raw_query, row):
    # substitute Nones for nulls
    # substitute row values into template

    # $$artist_id$$<>$$artist_id$$
    # $$name$$<>$$name$$
    # $$location$$<>$$location$$
    # $$latitude$$<>$$latitude$$
    # $$longitude$$<>$$longitude$$
    query_template = Template(sql_queries.artist_table_insert_b)
    query = insert_artists_t.substitute(
        artist_id=row['artist_id'],
        name=row['artist_name'],
        location=row['artist_location'],
        latitude=row['artist_latitude'],
        longitude=row['artist_longitude']
    )
    return q


insert_artists_t = Template(sql_queries.artist_table_insert_b)
insert_artists = insert_artists_t.substitute(
    artist_id=row['artist_id'],
    name=row['artist_name'],
    location=row['artist_location'],
    latitude=row['artist_latitude'],
    longitude=row['artist_longitude']
)

In [ ]:
import copy

row = [1, 2, 3]
data = copy.copy(row)
row[0] = 4
print(row)
print(data)

In [ ]:
conn = psycopg2.connect(f"""
        host=127.0.0.1 
        dbname=scratchdb 
        user=student
        password=student
        port=5432
    """)
cur = conn.cursor()

cur.execute("""
    INSERT INTO public.users(user_id, first_name, last_name, gender, level)
	VALUES (NULL, NULL, NULL, NULL, 'free');
""")
conn.commit()

In [ ]:
userIda = 69
userIdb = 69.0
userIdstr = "69.0"
print(int(userIda))
print(type(userIdb))
print(int(userIdb))
print(int(float(userIdstr)))

In [ ]:
def test_pandas_dt():
    ts_i = 1541990217796
    ts_dt = pd.to_datetime(ts_i, unit='ms')
    print(ts_dt)
    print(ts_dt.hour)
    print(ts_dt.day)
    print(ts_dt.week)
    print(ts_dt.month)
    print(ts_dt.year)
    print(ts_dt.day_of_week)
    print('just holding place')

In [ ]:
# load dataframe from csv
staging_songs = pd.read_csv('tests/staging_songs.csv')
staging_songs

In [ ]:
staging_events = pd.read_csv('tests/staging_events.csv')
staging_events

In [ ]:
import pandas as pd
df = pd.read_csv('staging_songs.csv')
series = df.iloc[0]
series

In [ ]:
import pandas as pd
df = pd.read_csv('tests/staging_events.csv')
df
#series = df.iloc[0]
#series
#data = etl.formatForRedshift(series)

In [1]:
import pandas as pd
import psycopg2

import etl

time_table_create = """
    CREATE TABLE IF NOT EXISTS time (
        time_id     SERIAL              PRIMARY KEY,
        start_time  TIMESTAMP           NOT NULL,
        hour        INTEGER             NOT NULL,
        day         INTEGER             NOT NULL,
        week        INTEGER             NOT NULL,
        month       INTEGER             NOT NULL,
        year        INTEGER             NOT NULL,
        weekday     INTEGER             NOT NULL
    );
"""

conn = psycopg2.connect("host=127.0.0.1 dbname=dwhtestdb user=student password=student")
conn.autocommit = True
with conn.cursor() as cur:
    cur.execute(time_table_create)
df = pd.read_csv('tests/staging_events.csv')
series = df.iloc[0]
print(series)
with conn.cursor() as cur:
    etl.load_time(cur, series)
with conn.cursor() as cur:
    cur.execute('SELECT * FROM time;')
    print(cur.fetchall())

artist                                               A Fine Frenzy
auth                                                     Logged In
firstName                                                 Anabelle
gender                                                           F
itemInSession                                                    0
lastName                                                   Simpson
length                                                         267
level                                                         free
locataion              Philadelphia-Camden-Wilmington, PA-NJ-DE-MD
method                                                         PUT
page                                                      NextSong
registration                                         1541044398796
sessionId                                                      256
song                                  Almost Lover (Album Version)
status                                                         200
ts                                                   1541377992796
userAgent        Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4)...
userId                                                          69
Name: 0, dtype: object
[(1, datetime.datetime(2018, 11, 5, 0, 33, 12, 796000), 0, 5, 45, 11, 2018, 0)]